* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$allbcg : #737272;
$allbcghover : #3B3A40;

$stbcg: #F2C84B;
$stbcghover: #F2B035; 

$dmbcg: #D5B9F0;
$dmbcghover: #BDA3D5;

$psbcg: #67DDD1;
$psbcghover: #30D5C8;

$white-color-light : #eee;
$white-color : #fff;

$other-btn-color: #333;
$other-btn-hover: #222;

$header-bcg : #F0F0F2;

@mixin color($par1, $par2) {
    color: $par1;
    background-color: $par2;
    
    
}

.header {
    // margin: 0 6rem;
    // background-color: #D7D7D9;
    background-color: $header-bcg;
    &__content{
        display: flex;
        padding-bottom: 4rem;
        justify-content: flex-start;
        align-items: center;
        
        &--text {
            width: 50%;
            padding: 0 6rem;
        }
        &--text-h1p{
            margin: 2rem 4rem 2rem 1rem;
            // padding: 2rem;
            h1{
                font-size: 3rem;
                margin-bottom: 2rem;
                font-weight: 700;
                color: #262626;
                i {
                    margin-right: 10px;
                }
            }
            p{
                font-size: 1.5rem;
                margin-bottom: 4rem;
                margin-right: 30%;
                color: #595956;
            }
        }

        &--ss{
            display: flex;
            justify-content: flex-start;

                &-all button {
                    @include color($white-color-light, $allbcg);
                   
                    &:hover{
                        @include color($white-color, $allbcghover);
                    }
                }
                &-st button{
                    @include color($other-btn-color, $stbcg);
        
                    &:hover{
                        @include color($other-btn-hover, $stbcghover);
                    }
                }
                &-dm button{
                    @include color($other-btn-color, $dmbcg);
                    
                    &:hover{
                        @include color($other-btn-hover, $dmbcghover);
                    }}
                &-ps button{
                    @include color($other-btn-color, $psbcg);
                    
        
                    &:hover{
                        @include color($other-btn-hover, $psbcghover);
                    }
                }    
                
        }

        button {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        font-size: 0.8rem;
        border: none;
        font-weight: 600;
        border-radius: 5px;

        }


        &--img img {
            width: 30rem;
            height: 20rem;
            margin-top: 1rem;
            margin-left: 3rem;
            

        }
    }
}