$yellow : #ffe54c;
$purple : #dcbaff;
$light-blue : #66f2d5;
$white : #ffffff;
$black : #000000;
$light-orange : rgb(241, 172, 147);
$a : #DEBEFF;
$b : #e98ab1;
$c : #FFE655;
$d : #6EF3D7;
$e : #a6a6a6;
$f : #595959;
$g : #262626;
$h : #595956;
$i : plum;

$allbcg : #737272;
$allbcghover : #3B3A40;

$stbcg: #F2C84B;
$stbcghover: #F2B035; 

$dmbcg: #D5B9F0;
$dmbcghover: #BDA3D5;

$psbcg: #67DDD1;
$psbcghover: #30D5C8;

$white-color-light : #eee;
$white-color : #fff;

$other-btn-color: #333;
$other-btn-hover: #222;

$header-bcg : #F0F0F2;