$yellow : #ffe54c;
$purple : #dcbaff;
$light-blue : #66f2d5;
$white : #ffffff;
$light-orange : rgb(241, 172, 147);
$a : #DEBEFF;
$b : #e98ab1;
$c : #FFE655;
$d : #6EF3D7;
$e : #a6a6a6;
$p-color : #595959;
$h1-color : #262626;
$i : plum;

$allbcg : #737272;
$allbcghover : #3B3A40;
$stbcghover: #F2B035; 
$dmbcghover: #BDA3D5;
$psbcghover: #30D5C8;
$white-color-light : #eee;
$other-btn-color: #333;
$header-bcg : #F0F0F2;