*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}


p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


@import './variables';
@import './mixin';
@import './nav';
@import './header';
@import './main';
@import './footer';
@import '../scss/methots-scss/methot-1';
@import '../scss/methots-scss/methot-2';
@import '../scss/methots-scss/methot-3';
@import '../scss/methots-scss/methot-4';
@import '../scss/methots-scss/methot-5';
@import '../scss/methots-scss/methot-6';
@import '../scss/methots-scss/methot-7';
@import '../scss/methots-scss/methot-8';
@import '../scss/methots-scss/methot-9';
@import './about';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


